.col {
    float: left;
    box-sizing: border-box;
}
.col-right {
    float: right;
    box-sizing: border-box;
}
.col-1 {
    width: 8.33333%;
}
.col-2 {
    width: 16.66667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333%;
}
.col-5 {
    width: 41.66667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33333%;
}
.col-8 {
    width: 66.66667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33333%;
}
.col-11 {
    width: 91.66667%;
}
.col-12 {
    width: 100%;
}
.block {
    display: block;
}
.inline {
    display: inline;
}
.none {
    display: none;
}

/* grids for xxsmall screen > 360px */
@media (min-width: 360px) {
    .col-xx {
        float: left;
        box-sizing: border-box;
    }
    .col-xx-right {
        float: right;
        box-sizing: border-box;
    }
    .col-xx-1 {
        width: 8.33333%;
    }
    .col-xx-2 {
        width: 16.66667%;
    }
    .col-xx-3 {
        width: 25%;
    }
    .col-xx-4 {
        width: 33.33333%;
    }
    .col-xx-5 {
        width: 41.66667%;
    }
    .col-xx-6 {
        width: 50%;
    }
    .col-xx-7 {
        width: 58.33333%;
    }
    .col-xx-8 {
        width: 66.66667%;
    }
    .col-xx-9 {
        width: 75%;
    }
    .col-xx-10 {
        width: 83.33333%;
    }
    .col-xx-11 {
        width: 91.66667%;
    }
    .col-xx-12 {
        width: 100%;
    }
    .xx-block {
        display: block;
    }
    .xx-inline {
        display: inline;
    }
    .xx-none {
        display: none;
    }
}

/* grids for xsmall screen > 400px */
@media (min-width: 400px) {
    .col-xs {
        float: left;
        box-sizing: border-box;
    }
    .col-xs-right {
        float: right;
        box-sizing: border-box;
    }
    .col-xs-1 {
        width: 8.33333%;
    }
    .col-xs-2 {
        width: 16.66667%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33.33333%;
    }
    .col-xs-5 {
        width: 41.66667%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33333%;
    }
    .col-xs-8 {
        width: 66.66667%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-10 {
        width: 83.33333%;
    }
    .col-xs-11 {
        width: 91.66667%;
    }
    .col-xs-12 {
        width: 100%;
    }
    .xs-block {
        display: block;
    }
    .xs-inline {
        display: inline;
    }
    .xs-none {
        display: none;
    }
}

/* grids for small screen > 640px */
@media (min-width: 640px) {
    .col-sm {
        float: left;
        box-sizing: border-box;
    }
    .col-sm-right {
        float: right;
        box-sizing: border-box;
    }
    .col-sm-1 {
        width: 8.33333%;
    }
    .col-sm-2 {
        width: 16.66667%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33333%;
    }
    .col-sm-5 {
        width: 41.66667%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33333%;
    }
    .col-sm-8 {
        width: 66.66667%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33333%;
    }
    .col-sm-11 {
        width: 91.66667%;
    }
    .col-sm-12 {
        width: 100%;
    }
    .sm-block {
        display: block;
    }
    .sm-inline {
        display: inline;
    }
    .sm-none {
        display: none;
    }
}

/* grids for medium screen > 768px */
@media (min-width: 768px) {
    .col-md {
        float: left;
        box-sizing: border-box;
    }
    .col-md-right {
        float: right;
        box-sizing: border-box;
    }
    .col-md-1 {
        width: 8.33333%;
    }
    .col-md-2 {
        width: 16.66667%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33333%;
    }
    .col-md-5 {
        width: 41.66667%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33333%;
    }
    .col-md-8 {
        width: 66.66667%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33333%;
    }
    .col-md-11 {
        width: 91.66667%;
    }
    .col-md-12 {
        width: 100%;
    }
    .md-block {
        display: block;
    }
    .md-inline {
        display: inline;
    }
    .md-none {
        display: none;
    }
}

/* grids for large screen > 960px */
@media (min-width: 960px) {
    .col-lg {
        float: left;
        box-sizing: border-box;
    }
    .col-lg-right {
        float: right;
        box-sizing: border-box;
    }
    .col-lg-1 {
        width: 8.33333%;
    }
    .col-lg-2 {
        width: 16.66667%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33333%;
    }
    .col-lg-5 {
        width: 41.66667%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33333%;
    }
    .col-lg-8 {
        width: 66.66667%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33333%;
    }
    .col-lg-11 {
        width: 91.66667%;
    }
    .col-lg-12 {
        width: 100%;
    }
    .lg-block {
        display: block;
    }
    .lg-inline {
        display: inline;
    }
    .lg-none {
        display: none;
    }
}


/* grids for xlarge screen > 1280px */
@media (min-width: 1280px) {
    .col-xl {
        float: left;
        box-sizing: border-box;
    }
    .col-xl-right {
        float: right;
        box-sizing: border-box;
    }
    .col-xl-1 {
        width: 8.33333%;
    }
    .col-xl-2 {
        width: 16.66667%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-4 {
        width: 33.33333%;
    }
    .col-xl-5 {
        width: 41.66667%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-7 {
        width: 58.33333%;
    }
    .col-xl-8 {
        width: 66.66667%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-10 {
        width: 83.33333%;
    }
    .col-xl-11 {
        width: 91.66667%;
    }
    .col-xl-12 {
        width: 100%;
    }
    .xl-block {
        display: block;
    }
    .xl-inline {
        display: inline;
    }
    .xl-none {
        display: none;
    }
}
